*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: montsserat;
    src: url(Montserrat-ExtraLight.ttf);
    font-family: mont;
    src: url(Montserrat-Bold.ttf);
}
h1{
    padding: 50px;
    font-family: mont;
}

h2{
    font-family: mont;
}

#cabeçalho{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    
}
#fundo{
    width: 100%;
    height: 600vh;
    background-color: rgba(101, 136, 100, 1);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#container{
    width: 100%;
    height: 570vh;
    background-color: whitesmoke;
    border-radius: 100px;
    
}

#recomendações{
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 20% 20% 20% 20% 20%;
    width: 95%;
    height: 80vh;
    padding: 50px;
    display: grid;
    

}

#faixa{
    grid-area: 4 / 1 / 6 / 4;
    background-color: rgba(101, 136, 100, 1);
    width: 100%;
    height: 28vh;
}

#li1{
    height: 250px;
    margin-left: 30px;
    grid-area: 2 / 1 / 5 / 2;
    width: 65%;
    height: 45vh;
}

h3{
    color: white;
    font-family: montsserat;
}

h5{
    color: darkgrey;
    font-family: montsserat;

}
#titulo{
    grid-area: 4 / 2 / 6 / 3;
    margin-top: 50px;
}

#autor{
    grid-area: 5 / 2 / 6 / 3;
    ;
}